{extend name="public/base" /}
{block name="main"}
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">DouPHP 管理中心<b>></b><strong>品牌分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Brand/add')}" class="actionBtn add">添加品牌</a>品牌展示</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <tr>
            <th width="120" align="left">品牌logo</th>
            <th align="left">品牌名称</th>
            <th align="left">品牌网址</th>
            <th align="left">品牌描述</th>
            <th width="60" align="center">排序</th>
            <th width="80" align="center">操作</th>
        </tr>
        {foreach $brand as $key=>$vo }
        <tr>
            <td align="left"> <a href="product.php?cat_id=1"><img src="http://www.tp5shop.com/uploads/brand/{$vo.brand_logo}" width="100px"></a></td>
            <td>{:$vo.brand_name}</td>
            <td>{:$vo.brand_url}</td>
            <td>{:$vo.brand_desc}</td>
            <td align="center">{:$vo.brand_order}</td>
            <td align="center"><a href="product_category.php?rec=edit&cat_id=1">编辑</a> | <a href="product_category.php?rec=del&cat_id=1">删除</a></td>
        </tr>
        {/foreach}
    </table>
</div>
</div>
{/block}