{extend name="public/base" /}
{block name="main"}
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">DouPHP 管理中心<b>></b><strong>商品分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('cate/add')}" class="actionBtn add">添加分类</a>商品分类</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <tr>
            <th width="120" align="left">分类名称</th>
            <th align="left">关键字</th>
            <th align="left">简单描述</th>
            <th width="60" align="center">排序</th>
            <th width="80" align="center">操作</th>
        </tr>
        {foreach $cates as $key=>$vo }
        <tr>
            <td align="left"> <a href="product.php?cat_id=1">{$vo.level|str_repeat="　　",###}{$vo.cate_name}</a></td>
            <td>{$vo.cate_keyword}</td>
            <td>{$vo.cate_desc}</td>
            <td align="center">{$vo.cate_order}</td>
            <td align="center"><a href="product_category.php?rec=edit&cat_id=1">编辑</a> | <a href="product_category.php?rec=del&cat_id=1">删除</a></td>
        </tr>
        {/foreach}
    </table>
</div>
</div>
{/block}